<h2>Login</h2>

<form asp-controller="Account" asp-action="ExternalLoginGoogle" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div>
        <button type="submit" class="btn btn-default" name="provider">Log in using Google</button>
    </div>
</form>

<form asp-controller="Account" asp-action="ExternalLoginMicrosoft" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div>
        <button type="submit" class="btn btn-default" name="provider">Log in using Microsoft</button>
    </div>
</form>